extends layout

block content
  .top-bar 
    h2 Credenciales 
    .pagination
        ul.pagination-list
            li.pagination-item 
                a.pagination-link.pagination-start(href="/credentials?page=" + (datosParams.page == 0 ? 0 : (datosParams.page - 1))) &laquo;
            if datosParams.page == 0
                li.pagination-item 
                    a.pagination-link.pagination-number.pagination-link-active(href="/credentials?page=0") 1
                li.pagination-item 
                    a.pagination-link.pagination-number(href="/credentials?page=1") 2 
                li.pagination-item 
                    a.pagination-link.pagination-number(href="/credentials?page=2") 3
            else
                li.pagination-item 
                    a.pagination-link.pagination-number(href="/credentials?page=" + (datosParams.page - 1)) #{datosParams.page}
                li.pagination-item 
                    a.pagination-link.pagination-number(class="pagination-link-active" href="/credentials?page=" + (datosParams.page)) #{datosParams.page + 1} 
                li.pagination-item 
                    a.pagination-link.pagination-number(href="/credentials?page=" + (datosParams.page + 1)) #{datosParams.page + 2}
            li.pagination-item 
                a.pagination-link.pagination-last(href="/credentials?page=" + (datosParams.page + 1)) &raquo;

  .main-container
    .credentials.container
        each credencial in datosJson
            .credential-card
                h2 #{credencial.id}
                h3 #{credencial.time.substring(0, 10)} #{credencial.time.substring(11, 19)}
                p #{credencial.data.id}
                .button-container
                    a(href=`/credential-by-id/${credencial.id}?detailed=true`)
                        button Ver 

