extends layout

block content
  .top-bar 
    h2 #{credentialheader}
    if Object.keys(datosJson).length >= 20 
        .pagination
            ul.pagination-list
                li.pagination-item 
                    a.pagination-link.pagination-start(href="/credentials?page=" + (datosParams.page == 0 ? 0 : (datosParams.page - 1)) + "&type=" + datosParams.type) &laquo;
                if datosParams.page == 0
                    li.pagination-item 
                        a.pagination-link.pagination-number.pagination-link-active(href="/credentials?page=0&type=" + datosParams.type) 1
                    li.pagination-item 
                        a.pagination-link.pagination-number(href="/credentials?page=1&type=" + datosParams.type) 2 
                    li.pagination-item 
                        a.pagination-link.pagination-number(href="/credentials?page=2&type=" + datosParams.type) 3
                else
                    li.pagination-item 
                        a.pagination-link.pagination-number(href="/credentials?page=" + (datosParams.page - 1) + "&type=" + datosParams.type) #{datosParams.page}
                    li.pagination-item 
                        a.pagination-link.pagination-number(class="pagination-link-active" href="/credentials?page=" + (datosParams.page) + "&type=" + datosParams.type) #{datosParams.page + 1} 
                    li.pagination-item 
                        a.pagination-link.pagination-number(href="/credentials?page=" + (datosParams.page + 1) + "&type=" + datosParams.type) #{datosParams.page + 2}
                li.pagination-item 
                    a.pagination-link.pagination-last(href="/credentials?page=" + (datosParams.page + 1) + "&type=" + datosParams.type) &raquo;

  .credential-type
    ul.credential-type-list
        if datosParams.type != 'loire' 
            li.type-list-item
                a.type-link#type-link-1.type-link-active(href="") Tagus
            li.type-list-item
                a.type-link#type-link-2(href="/credentials?page=0&type=loire") Loire
        else 
            li.type-list-item
                a.type-link#type-link-1(href="/credentials?page=0&type=tagus") Tagus
            li.type-list-item
                a.type-link#type-link-2.type-link-active(class="" href="") Loire



  .main-container
    .credentials.container
        each credencial in datosJson
            .credential-card
                h2 #{credencial.id}
                h3 #{credencial.time.substring(0, 10)} #{credencial.time.substring(11, 19)}
                p #{credencial.data.id}
                .button-container
                        if datosParams.type == 'loire'
                            a(href=`#!`)
                                .criterios-button
                                    span #{credentialcriteriabutton} 
                                    i.icon-dropdown
                        a(href=`/credential-by-id/${credencial.id}?detailed=true`)
                            button #{credentialview}
                if datosParams.type == 'loire'
                    .wrapper-transition
                        .criteria-container
                            .criterion 
                                h3 #{credentialcriteriacontractual}
                                button.icon-dropdown-black-link
                                    i.icon-dropdown-black
                            .criterion-satisfied
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P1')
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                            .criterion 
                                h3 #{credentialcriteriadataprotection}
                                button.icon-dropdown-black-link
                                    i.icon-dropdown-black
                            .criterion-satisfied 
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P2')
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                            .criterion 
                                h3 #{credentialcriteriacybersecurity}
                                button.icon-dropdown-black-link
                                    i.icon-dropdown-black
                            .criterion-satisfied 
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P3')
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                            .criterion 
                                h3 #{credentialcriteriaportability}
                                button.icon-dropdown-black-link 
                                    i.icon-dropdown-black
                            .criterion-satisfied 
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P4')
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                            .criterion 
                                h3 #{credentialcriteriaeuropeancontrol}
                                button.icon-dropdown-black-link
                                    i.icon-dropdown-black
                            .criterion-satisfied 
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P5')
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                            .criterion 
                                h3 #{credentialcriteriasustainability}
                                button.icon-dropdown-black-link
                                    i.icon-dropdown-black
                            .criterion-satisfied 
                                - let contador = 0;
                                each criterio in credencial.data.credentialSubject['gx:validatedCriteria']
                                    if criterio.substring(48, 55).startsWith('P6')
                                        - contador++;
                                        button.anchor-tooltip #{criterio.substring(48, 55)}
                                            each criteriodesc in criteria
                                                if criteriodesc.id == criterio.substring(48, 55)
                                                    span.tooltip-text #{criteriodesc.criterion}
                                if contador == 0
                                    h4 #{credentialcriteriasustainabilityemptymessage}


                             
                        

