doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content="width=device-width, initial-scale=1" name="viewport")
  body  
    .navbar
      h1 Gaia-X Catalog
      .navbar-secondary-container 
        form#lang-switcher-form(action='/change-language', method='get')
          .lang-switch
            input.lang-toggle.check-toggle.check-toggle-round-flat(type="checkbox", name="lng", id="language-toggle", onchange='this.form.submit()', value='eng')
            label#lang-toggle-label(for="language-toggle")
            span.on ES
            span.off EN
        ul.nav-list 
          li.nav-item
            a.nav-link(href="/") #{navbarstart}
          li.nav-item
            a.nav-link(href="/credentials") #{navbarcredentials}
          li.nav-item
            a.nav-link(href="/credential-by-id") #{navbarcredentialid}
          li.nav-item
            a.nav-link(href="/upload-credential") #{navbaruploadcredential}
    main
      block content
    script(src='/javascripts/main.js')
