extends ../layout.pug

block content
  h1= title
  .top-bar 
    h2 Credencial por ID

  .main-container
    .credentials.container
        .credential-card
            h2 #{datosJson.id}
            h3 #{datosJson.time.substring(0, 10)} #{datosJson.time.substring(11, 19)}
            p #{datosJson.data.id}
            .button-container
                    a(href=`/credential-by-id/${datosJson.id}?detailed=true`)
                        button Ver 
    

